* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo a {
  text-decoration: none;
  color: #121313;
  font-family: 'Courier New', Courier, monospace;
}
.logo a h2 {
  font-weight: 500;
  background-color: #baf5d1;
  border-radius: 10px;
  padding: 0px 15px 5px;
}
/* navBar */
.menuBar,
.navSection {
  max-width: 1140px;
  margin: 0px auto;
}
.navSection {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.autSeaction {
  display: flex;
}
.loginSinup,
.cart {
  margin: 0px 10px;
  padding: 6px 10px 3px;
  background-color: #09b850;
  color: #f5f3f3;
  vertical-align: middle;
  align-items: center;
  border-radius: 30px;
}
.mobileSection {
  display: flex;
  padding: 22px 0px;
}
.imgDetails {
  width: 80%;
}
.imgDetails img {
  width: 100%;
}

.heading h2 {
  border-bottom: 1px solid #f5f3f3;
  padding: 25px 0px;
}
.NavbarContainer {
  background-color: #2a2525;
}

.menuBar ul li {
  list-style: none;
  display: inline-flex;
  margin: 0px 15px;
  padding: 8px 10px;
}
.menuBar ul li a {
  text-decoration: none;
  color: #949999;
  padding: 3px 5px;
  padding-top: 1px;
  border-radius: 3px;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.menuBar ul li a:hover {
  color: #ffffff;
  background-color: #09b850;
  transform: translateX(5px);
}
.mainSearch {
  width: 600px;
}
.mainSearch input[type='text'] {
  width: 100%;
  padding: 5px 10px;
  border: none;
  text-indent: 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 2px #e1e1e1;
  font-size: 1.2rem;
}

/* pages details css */
.pageContainer,
.cartproductcontainer {
  width: 1140px;
  margin: 0px auto;
}
.headingPage h3 {
  margin: 25px 0px;
}
.mpageSction {
  display: grid;
  grid-template-columns: repeat(4, 278px);
  gap: 10px;
}
.imageDetails {
  padding: 15px 2px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  display: ruby;
}
.imgPage {
  width: 250px;
  height: 250px;
  background-color: #f8f8f9;
  border-radius: 5px;
  margin-bottom: 15px;
}
.imgPage img {
  width: 100%;
}
.disCription {
  display: flex;
  justify-content: space-between;
}
.price {
  font-weight: bold;
  color: #0cbc87;
  background-color: #e9f7f3;
  border-radius: 5px;
  padding: 0px 2px;
}
.dis {
  margin-top: 15px;
  padding: 5px 2px;
  color: #595a5a;
}

.cartproductDetails {
  display: flex;
  padding: 10px 0px;
  border: 1px solid #e1e1e1;
  margin: 25px 0px;
  border-radius: 10px;
}
.cartHeading h2 {
  font-weight: 500;
  font-size: 2rem;
  margin: 25px 0px;
}
.rightdis {
  padding: 25px 0px;
}
.space {
  margin: 10px;
}

.cartButton {
  border: none;
  background-color: #09b850;
  padding: 3px 15px 5px;
  margin: 10px 0px;
  font-size: 1.5rem;
  color: white;
  border-radius: 25px;
}
.cartButton:hover {
  background-color: #0cbc87;
}

.cartImage {
  width: 25%;
}
.rightdis {
  width: 75%;
}
